.sidebar {
  float: left;
  width: 100px;
  font-size: 12px;
  border: 2px solid green;
  padding-right: 170px;
  height: 100%;

}

li {
  list-style-type: none;
}

#section {
  text-decoration: underline;
}

#bold {
  font-weight: bold;
}

.navbar-text {
  float: right;
}


.panel-body {
  position: fixed;
  background-color: red;
  width: 170px;
}

.container2 {
  float: left;
  padding-left: 200px;
}
