.sidebar {
  float: left;
  width: 100px;
  font-size: 12px;
  padding-right: 170px;
  height: 100%;

}

li {
  list-style-type: none;
}

#section {
  text-decoration: underline;
}

#bold {
  font-weight: bold;
}

#bullet {
  list-style-type: disc;
  font-size: 12px;
}

.navbar-text {
  float: right;
}

.panel-body {
  position: fixed;
  background-color: #eaecef;
  width: 170px;
}

.panel-info {
  background-color: #eaecef;
  border: 10px solid #eaecef;
}

.container1 {
  float: left;
  padding-left: 200px;

}

.container2 {
  float: left;
  padding-left: 200px;
}

.nav-tabs {
  padding-left: 120px;
  }
